NODE_ENV=development
PORT=3000
APS_CLIENT_ID=your_client_id_here
APS_CLIENT_SECRET=your_secret_here
APS_CALLBACK_URL=http://localhost:3000/auth/three-legged
FRONTEND_URL=http://localhost:5173

HUBNAME=your_hub_name_here
RAWHUBID=your_raw_hub_id_here
HUBID=your_hub_id_here
AUTODESK_BASE_URL=https://developer.api.autodesk.com

# Configuracion MySQL
DB_CLIENT=mysql2
DB_HOST=127.0.0.1
DB_USER=xxxx
DB_NAME=plans_app_db
DB_PORT=3306
DB_PASSWORD=xxxx
