<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <rule name="BlockSensitivePaths" stopProcessing="true">
          <match
            url="^(?:\.env(?:\..*)?|app\.js|server\.js|config\.js|knexfile\.js|package(?:-lock)?\.json|graphical_ql_backend_readme\.txt|web\.config|(?:resources|middlewares|utils|node_modules|\.git|\.vs|\.vscode)(?:/.*)?)$"
            ignoreCase="true"
          />
          <action
            type="CustomResponse"
            statusCode="404"
            statusReason="Not Found"
            statusDescription="Not Found"
          />
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
          <add segment=".env.production" />
          <add segment=".env.staging" />
          <add segment=".git" />
          <add segment=".vs" />
          <add segment=".vscode" />
          <add segment="resources" />
          <add segment="middlewares" />
          <add segment="utils" />
          <add segment="config.js" />
          <add segment="server.js" />
          <add segment="app.js" />
          <add segment="knexfile.js" />
          <add segment="package.json" />
          <add segment="package-lock.json" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <httpErrors existingResponse="PassThrough" />
    
    <iisnode watchedFiles="web.config;*.js" loggingEnabled="true" devErrorsEnabled="false" />
  </system.webServer>
</configuration>
